@{
    ViewBag.Title = "Acceso al sistema";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="preload" href="~/StyleAccess.css" as="style">
    <link rel="stylesheet" href="~/StyleAccess.css">

</head>
    <body>
        <div class="wrapper">
            <form action="@Url.Action("Access", "Home")" method="post">
                <div>
                    <img src="~/img/Logo.png" alt="" class="image-logo">
                </div>
                <h1>Sistema de inventario</h1>
                <div class="input-box">
                    <input type="text" name="usernameInput" placeholder="Usuario" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" name="passwordInput" placeholder="Contraseña" required>
                    <i class='bx bxs-lock'></i>
                </div>

                <button type="submit" class="btn" >Ingresar</button>
            </form>
        </div>
    </body>
</html>